@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'base/variables';
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/main';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/managers';
@import 'blocks/schema';
@import 'blocks/questions';