.advantages {
    min-height: 590px;
    background-color: #dfd9d9;
    padding-bottom: 55px;
    &__header {
        text-align: center;
        font-size: 26px;
        line-height: 23px;
        color: black;
        padding-top: 57px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px, auto);
        grid-auto-rows: minmax(100px, auto);
        column-gap: 30px;
        margin-top: 40px;
        row-gap: 40px;
    }
    &__title {
        font-size: 23px;
        line-height: 23px;
        font-weight: bold;
        color: $main-color;
    }
    &__descr {
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px;
        color: #3a3a3a;
    }
    &__img {
        display: inline-block;
    }
    &__item {
        display: grid;
        grid-template-columns: 68px 472px;
        column-gap: 15px;
        &-right {
            display: inline-block;
        }
    }
}