.footer {
    background-color: #25333c;
    &__wrapper {
        display: flex;
        padding: 25px 15px 30px 15px;
        border-bottom: 2px solid #677177;
        align-items: center;
        flex-flow: row wrap;
        h3 {
            display: table-cell;
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            vertical-align: middle;
            margin-left: 45px;
        }
    }
    &__call {
        text-align: right;
        margin-left: auto;
        margin-right: 20px;
        h4 {
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            color: white;
            font-weight: bold;
            margin-bottom: 0;
        }
        a {
            font-size: 19px;
            line-height: 24px;
            color: #fff;
        }
    }
    .btn {
        width: 200px;
        height: 46px;
    }
}