.main {
    min-height: 680px;
    background: url('/src/img/headbg.png') no-repeat center/cover;
    padding: 24px 15px;
    &__header {
        display: flex;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 705px;
        padding-left: 55px;
        padding-right: 50px;
        align-items: center;
    }
    &__right-line {
        width: 1px;
        height: 24px;
        background-color: #888992;
    }
    &__wrapper-item {
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        color: white;
        &:hover {
            color: $main-color;
        }
    }
    &__call {
        margin-top: 25px;
        margin-right: 20px;
        &-text {
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            color: white;
            font-weight: bold;
        }
        &-tel {
            font-size: 19px;
            line-height: 24px;
            font-weight: bold;
            color: white;
            text-align: right;
        }
    }
    &__btn {
        padding-top: 20px;
    }
    &__delivery {
        text-align: center;
        margin-top: 15px;
    }
    &__global {
        font-size: 24px;
        color: #f2f2f3;
        line-height: 40px;
    }
    &__cargo {
        font-size: 72px;
        color: $main-color;
        margin-bottom: 0px;
        line-height: 75px;
    }
    &__descr {
        font-size: 42px;
        color: #ffffff;
    }
    img {
        margin-top: 25px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 0px 10px;
        &-item {
            margin-right: 20px;
            &_picture {
                text-align: center;
            }
        }
        &-text {
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            line-height: 22px;
            margin-top: 23px;
        }
    }
    .main__btn2 {
        text-align: center;
        margin-top: 10px;
    }
    .btn2 {
        width: 230px;
        height: 57px;
    }
}