.price {
    margin: 60px 0px;
    &__header {
        text-align: center;
        font-size: 26px;
        line-height: 20px;
        color: #2e2e2e;
        text-transform: uppercase;
    }
    &__divider {
        width: 150px;
        height: 2px;
        background-color: $main-color;
        margin: 27px auto 0 auto;
    }
    &__subheader {
        margin: 21px 170px 0px 170px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        color: #2e2e2e;
    }
    &__wrapper {
        display: flex;
        margin-top: 38px;
    }
    &__item {
        width: 265px;
        border: 1px solid #eaeaea;
        margin: 0px 15px;
        &-header {
            height: 65px;
            background-color: #25333c;
            color: #ffffff;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            padding-top: 1.3em;
        }
        &-photo {
            text-align: center;
            margin-top: 18px;
            position: relative;
        }
        &-delivery {
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 23px;
        }
        &-price {
            text-align: center;
            text-transform: uppercase;
            font-size: 28px;
            line-height: 30px;
            color: $main-color;
            margin-top: 18px;
        }
        &-descr {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            color: #2e2e2e;
            margin-top: 24px;
        }
        &-btn {
            text-align: center;
            margin: 30px 0px 25px 0px;
        }
    }
    &__cons {
        text-align: center;
        font-size: 28px;
        line-height: 23px;
        color: #3a3a3a;
        margin-top: 62px;
    }
    &__photo {
        text-align: center;
        margin-top: 27px;
        img {
            position: absolute;
            transform: translateX(-50%);
            padding: 0 15px;
        }
    }
    &__form {
        &_wrapper {
            display: flex;
            justify-content: center;
            border: 2px solid #c4c4c4;
            padding: 65px 160px 50px 160px;
            margin-top: 78px;
        }
    }
    &__input {
        display: inline-block;
        margin-left: 5px;
        input {
            border-radius: 25px;
            width: 265px;
            height: 45px;
            padding: 0 30px;
            border-color: #cbcbcb;
        }
    }
    &__trigger {
        position: relative;
        .btn {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}