.questions {
    min-height: 440px;
    background: url('../img/questionsbg.png') no-repeat center / cover;
    padding-top: 62px;
    &__title {
        margin: 0px auto;
        text-align: center;
        background-color: #25333c;
        width: 895px;
        height: 70px;
        padding-top: 20px;
        h4 {
            color: #ffffff;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 0;
            font-weight: 700;
        }
        h5 {
            color: #ffffff;
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: 20px;
        }
    }
    &__form {
        background-color: rgba(194, 194, 195, 0.6);
        width: 895px;
        margin: 0 auto;
        min-height: 230px;
        &_wrapper {
            display: flex;
            justify-content: center;
        }
    }
    input {
        margin-top: 17px;
        margin: 17px 3px 0px;
        border-radius: 100px;
        height: 45px;
        width: 275px;
        padding-left: 30px;
    }
    &__textarea {
        width: 836px;
        margin: 0 auto;
        margin-top: 8px;
        textarea {
            width: 100%;
            padding-left: 30px;
            padding-top: 15px;
            height: 73px;
            resize: none;
            border-radius: 12px;
        }
    }
    &__trigger {
        text-align: center;
        margin: 17px 0 26px;
    }
}