.schema {
    padding-top: 50px;
    background-color: #f3f3f3;
    h3 {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 23px;
        color: #2e2e2e;
    }
    &__wrapper {
        margin-top: 36px;
        &_top,
        &_bottom {
            display: flex;
            justify-content: center;
        }
        &-item {
            margin: 0 17px;
            width: 258px;
            &_photo {
                text-align: center;
            }
            h4 {
                text-align: center;
                margin-top: 18px;
                font-size: 20px;
                line-height: 20px;
                color: $main-color;
            }
            p {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}