.work {
    margin: 50px 0px 60px 0px;
    &__header {
        text-align: center;
        font-size: 26px;
        line-height: 20px;
        color: #2e2e2e;
        text-transform: uppercase;
    }
    &__divider {
        width: 150px;
        height: 2px;
        background-color: $main-color;
        margin: 27px auto 0 auto;
    }
    &__subheader {
        margin: 21px 170px 0px 170px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        color: #2e2e2e;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin: 40px 5px 0px 5px;
        &-header {
            text-align: center;
            margin-top: 30px;
            font-size: 20px;
            line-height: 20px;
            color: $main-color;
        }
        &-subheader {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            color: #3a3a3a;
            margin-top: 19px;
        }
    }
}